<?xml version="1.0"?>
<configuration>
	<system.web>
		<compilation debug="true" targetFramework="4.0"/>
		<pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
    <sessionState mode="Off"/>
	</system.web>
	<runtime>
		<legacyCorruptedStateExceptionsPolicy enabled="true" />
	</runtime>
  <connectionStrings>
      <add name="connUtm" connectionString="DRIVER={SQL Server};SERVER=(local);DATABASE=RasterUtm;Trusted_Connection=True;" />
      <add name="connBing" connectionString="DRIVER={SQL Server};SERVER=(local);DATABASE=RasterBing;Trusted_Connection=True;" />
      <add name="connNasa" connectionString="DRIVER={SQL Server};SERVER=(local);DATABASE=RasterNasa;Trusted_Connection=True;" />
  </connectionStrings>
  <appSettings>
    <!-- where to store c# log and c++ log -->
    <add key="log_path_csharp" value="c:\\logs\\csharp.log"/>
    <add key="log_path_cpp" value="c:\\logs\\cpp.log"/>
  </appSettings>
  <system.webServer>
    <httpProtocol>
      <customHeaders>
        <add name="Access-Control-Allow-Origin" value="*" />
      </customHeaders>
    </httpProtocol>
  </system.webServer>
</configuration>